/* .services{
    display: inline-block;
    width: 150px;
    background: white;
    height: 100px;
    margin: 0 10px 10px 0;
    border: 1px solid #ddd;
    /* background-color: brown; */
    float: left;
    background-image: url(../database\ \(1\).png);
    font-size: 10px;
    background-repeat: no-repeat;
    background-position: left, right;
    opacity: 0.3;

}
#service_font{
    font-size: 20px;
    color: tomato;
} */